body.funfacts {
  height: auto;
  overflow: hidden;
  background: #000 url(https://media4.giphy.com/media/3o6vXRxrhj7Ov94Gbu/giphy.gif?cid=5a38a5a2bnihgp4k15wthiqgkxheciu47dj9h24exjjz6l0m&ep=v1_gifs_search&rid=giphy.gif&ct=g) 0 0 no-repeat;
  background-size: cover;
  font-family: "Titillium Web", sans-serif;
  transition: opacity 1s ease;
  width: 800px;
  height: 302px;
}
.load-facts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 5;
}

.facts-speed {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  z-index: 8;
}

.facts-speed.slower {
  left: initial;
  right: 0;
}

* {
  box-sizing: border-box;
}
.funfacts {
  display: inline-block;
  padding: 0 48px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 40px;
  color: white;
  width: 95%;
  margin: 0 auto;
}
.funfacts a {
  color: white;
}
.funfacts .image {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.875rem;
}
.funfacts .image img {
  max-width: 80%;
}
.scroll-container {
  overflow: hidden;
  opacity: 1;
  transition: opacity 1s ease;
}
.scroll-container.faded {
  opacity: 0;
}
.scroll-text {
  text-align: center;
  opacity: 1;
  transition: opacity 1s ease;
}
.scroll-text.animated {
 /* animation properties */
  transform: translateY(40%);
  animation: my-animation 0s linear infinite;
  animation-duration: 20s;
}

@keyframes slider {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(40%);
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
 }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
 }
}

.scroll-text.faded {
  opacity: 0;
}